<div class="container">
	<form ng-controller="EditProfileController" name="editProfileForm" ng-submit="submit()">
		<div class="form-group">
			<label>Image Upload Will Go Here</label>
		</div>
		<div class="form-group">
	        <div ng-if="message.length > 0" class="alert alert-danger">{{ message }}</div>
	        <div ng-if="success.length > 0" class="alert alert-success">{{ success }}</div>
	    </div>
		<div class="form-group" ng-class="{'has-error': (editProfileForm.file.$invalid) && editProfileForm.file.$dirty}">
			<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="150" ngf-resize="{width: 400, height: 400, type: 'image/jpg'}" ng-model="user.file" required>Select</div>
			<div ng-show="progressStatus">{{ progressPercentage }}</div>
		</div>
		<div class="form-group" ng-show="file || user.image">
			<img ng-show="!file && user.image" width="100px" src="{{ user.image }}"> 
			<img ngf-thumbnail="file" width="100px">
		</div>
		<div class="form-group" ng-class="{'has-error': (editProfileForm.name.$invalid) && editProfileForm.name.$dirty}">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" ng-model="user.name" placeholder="Name" autocomplete="off" required>
		</div>
		<div class="form-group" ng-class="{'has-error': (editProfileForm.surname.$invalid) && editProfileForm.surname.$dirty}">
			<label for="surname">Surname</label>
			<input type="text" class="form-control" id="surname" name="surname" ng-model="user.surname" placeholder="Surname" autocomplete="off" required>
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>