<div class="container" ng-controller="SignupController">
	<form ng-submit="createUser()" name="signupForm">
		<div class="form-group">
			<a href="/auth/google" class="btn btn-danger"><span></span> Google</a> 
			<a href="/auth/facebook" class="btn btn-primary"><span></span> Facebook</a>
		</div>
		<!-- show any messages that come back with authentication -->
	    <div class="form-group">
	        <div ng-if="message.length > 0" class="alert alert-danger">{{ message }}</div>
	        <div ng-if="success.length > 0" class="alert alert-success">{{ success }}</div>
	    </div>
		<div class="form-group" ng-class="{'has-error': (signupForm.email.$invalid || signupForm.email.$error.email || signupForm.email.$error.required) && signupForm.email.$dirty}">
			<label for="email">Email address</label>
			<input type="email" class="form-control" id="email" name="email" ng-model="newUser.email" placeholder="Email" autocomplete="off" required>
		</div>
		<div class="form-group" ng-class="{'has-error': (signupForm.password.$invalid || signupForm.password.$error.minlength || signupForm.password.$error.maxlength) && signupForm.password.$dirty}">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" ng-model="newUser.password" placeholder="Password" required>
		</div>
		<div class="form-group" ng-class="{'has-error': (signupForm.name.$invalid) && signupForm.name.$dirty}">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" ng-model="newUser.name" placeholder="Name" autocomplete="off" required>
		</div>
		<div class="form-group" ng-class="{'has-error': (signupForm.surname.$invalid) && signupForm.surname.$dirty}">
			<label for="surname">Surname</label>
			<input type="text" class="form-control" id="surname" name="surname" ng-model="newUser.surname" placeholder="Surname" autocomplete="off" required>
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
		<!-- <div>
		    <p ng-message="required" ng-show="signupForm.email.$error.required">Your email is required.</p>
		    <p ng-message="email" ng-show="signupForm.email.$error.email">Your email is wrong.</p>

		    <p ng-message="required" ng-show="signupForm.password.$error.required">Your password is required.</p>
	        <p ng-message="minlength" ng-show="signupForm.password.$error.minlength">Your password is too short.</p>
	        <p ng-message="maxlength" ng-show="signupForm.password.$error.maxlength">Your password is too long.</p>
	    </div> -->
	</form>
</div>